**/.vscode
**/.settings
**/.bin
**/.vs
**/.idea
**/build
**/bin
**/obj
**/sandbox/wrapper
**/spacevil/internal/Wrapper/*.h
*.class
*.iml
*.exp
*.exe
**/.classpath
**/.project
spacevil.jar
SpaceVIL.dll
wrapper.dll
glfwwrapper.h
openglwrapper.h
spacevil/out
